.navbar {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar li a:hover {
  color: gray;
}

